mat-card {
    margin-top: 20px;
}

.full-width {
    width: 100%;
  }

.error-div-style {
    margin-top: -18px;
    font-size: 9pt;
}

.buttons {
    display: flex;
    justify-content: space-between;
}
