<div class="flex-center full-height">
  <mat-card>
    <mat-card-title>Enter Your Contact Information</mat-card-title>
    <mat-card-subtitle>All fields are required</mat-card-subtitle>
    <mat-card-content>
      <div *ngIf="errorMessage" class="error-box">
        <mat-icon class="cursor" aria-hidden="false" aria-label="Example home icon" (click)="errorMessage = ''">
          close</mat-icon>
        {{ errorMessage }}
      </div>
      <form [formGroup]="signUpForm" action="submit">
        <!-- First Name -->
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>First Name</mat-label>
          <input type="text" matInput placeholder="John" [formControl]="firstName" required>
        </mat-form-field>
        <div class="error-div-style" *ngIf="firstName.errors && (firstName.dirty || firstName.touched)">
          <mat-error class="error-msg-style"
            *ngIf="firstName.errors && (firstName.dirty || firstName.touched) && firstName.errors['required']">First
            name is required</mat-error>
          <mat-error class="error-msg-style"
            *ngIf="firstName.errors && (firstName.dirty || firstName.touched) && firstName.errors['pattern']">First name
            should not have numbers and special characters</mat-error>
          <mat-error class="error-msg-style"
            *ngIf="firstName.errors && (firstName.dirty || firstName.touched) && firstName.errors['maxlength']">First
            name should not have more than 50 characters ({{ firstName.errors['maxlength'].actualLength }})</mat-error>
        </div>
        <!-- Last Name -->
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Last Name</mat-label>
          <input type="text" matInput placeholder="Smith" [formControl]="lastName" required>
        </mat-form-field>
        <div class="error-div-style" *ngIf="lastName.errors && (lastName.dirty || lastName.touched)">
          <mat-error class="error-msg-style"
            *ngIf="lastName.errors && (lastName.dirty || lastName.touched) && lastName.errors['required']">Last name is
            required</mat-error>
          <mat-error class="error-msg-style"
            *ngIf="lastName.errors && (lastName.dirty || lastName.touched) && lastName.errors['pattern']">Last name
            should not have numbers and special characters</mat-error>
          <mat-error class="error-msg-style"
            *ngIf="lastName.errors && (lastName.dirty || lastName.touched) && lastName.errors['maxlength']">Last name
            should not have more than 50 characters ({{ lastName.errors['maxlength'].actualLength }})</mat-error>
        </div>
        <!-- Email -->
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input type="email" matInput placeholder="username@instnt.com" [formControl]="email" required>
        </mat-form-field>
        <div class="error-div-style" *ngIf="email.errors && (email.dirty || email.touched)">
          <mat-error class="error-msg-style"
            *ngIf="email.errors && (email.dirty || email.touched) && email.errors['required']">Email is required
          </mat-error>
          <mat-error class="error-msg-style"
            *ngIf="email.errors && (email.dirty || email.touched) && email.errors['pattern']">Sorry, only letters (a-z),
            numbers (0-9), plus sign (+) and periods (.) are allowed.</mat-error>
          <mat-error class="error-msg-style"
            *ngIf="email.errors && (email.dirty || email.touched) && email.errors['maxlength']">Email should not have
            more than 100 characters ({{ email.errors['maxlength'].actualLength }})</mat-error>
        </div>
        <!-- Address -->
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Address</mat-label>
          <input type="text" matInput placeholder="123 St. " [formControl]="physicalAddress" required>
        </mat-form-field>
        <div class="error-div-style"
          *ngIf="physicalAddress.errors && (physicalAddress.dirty || physicalAddress.touched)">
          <mat-error class="error-msg-style"
            *ngIf="physicalAddress.errors && (physicalAddress.dirty || physicalAddress.touched) && physicalAddress.errors['required']">Address
            is required</mat-error>
          <mat-error class="error-msg-style"
            *ngIf="physicalAddress.errors && (physicalAddress.dirty || physicalAddress.touched) && physicalAddress.errors['maxlength']">Address
            should not have more than 50 characters ({{ physicalAddress.errors['maxlength'].actualLength }})</mat-error>
          <mat-error class="error-msg-style"
            *ngIf="physicalAddress.errors && (physicalAddress.dirty || physicalAddress.touched) && physicalAddress.errors['pattern']">
          Please enter a valid Address</mat-error>
        </div>
        <!-- City -->
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>City</mat-label>
          <input type="text" matInput placeholder="New York" [formControl]="city" required>
        </mat-form-field>
        <div class="error-div-style" *ngIf="city.errors && (city.dirty || city.touched)">
          <mat-error class="error-msg-style"
            *ngIf="city.errors && (city.dirty || city.touched) && city.errors['required']">City
            is required</mat-error>
          <mat-error class="error-msg-style"
            *ngIf="city.errors && (city.dirty || city.touched) && city.errors['maxlength']">City
            should not have more than 50 characters ({{ city.errors['maxlength'].actualLength }})</mat-error>
        </div>
        <!-- State -->
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>State</mat-label>
          <input type="text" matInput placeholder="Texas" [formControl]="state" required>
        </mat-form-field>
        <div class="error-div-style" *ngIf="state.errors && (state.dirty || state.touched)">
          <mat-error class="error-msg-style"
            *ngIf="state.errors && (state.dirty || state.touched) && state.errors['required']">State
            is required</mat-error>
          <mat-error class="error-msg-style"
            *ngIf="state.errors && (state.dirty || state.touched) && state.errors['maxlength']">State
            should not have more than 50 characters ({{ state.errors['maxlength'].actualLength }})</mat-error>
        </div>
        <!-- Zip -->
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Zip</mat-label>
          <input type="zip" matInput placeholder="10010" [formControl]="zip" required>
        </mat-form-field>
        <div class="error-div-style" *ngIf="zip.errors && (zip.dirty || zip.touched)">
          <mat-error class="error-msg-style"
            *ngIf="zip.errors && (zip.dirty || zip.touched) && zip.errors['required']">Zip is required
          </mat-error>
          <mat-error class="error-msg-style"
            *ngIf="zip.errors && (zip.dirty || zip.touched) && zip.errors['pattern']">Sorry, only letters (a-z),
            numbers (0-9), plus sign (+) and periods (.) are allowed.</mat-error>
          <mat-error class="error-msg-style"
            *ngIf="zip.errors && (zip.dirty || zip.touched) && zip.errors['maxlength']">Zip should not have
            more than 100 characters ({{ zip.errors['maxlength'].actualLength }})</mat-error>
        </div>
      </form>
    </mat-card-content>
    <div class="flex-between">
      <button [routerLink]="['/']" routerLinkActive="router-link-active" mat-raised-button color="primary">Back
        Home</button>
      <span style="margin-top: 8px;">1/4</span>
      <button routerLinkActive="router-link-active" mat-raised-button color="primary" (click)="onSubmitInfo()"
        [disabled]="!signUpForm.valid">Next Step</button>
    </div>
  </mat-card>
</div>
<div class="flex-center">
  <div>
    <h2>Sign up with VC</h2>
    <qrcode *ngIf="invitation" [qrdata]="invitation.invitation_url" [width]="286" [imageWidth]="80" [imageHeight]="80"
      [errorCorrectionLevel]="'M'" [imageSrc]="dataService.instntLogoUrl"></qrcode>
  </div>
</div>


<instnt-verifiable-credential [serviceURL]="dataService.serviceUrl" invitationType="verifier">
</instnt-verifiable-credential>

<ng-template #loading>
  <mat-spinner color="accent" style="margin: 0 auto; margin-top: 200px;"></mat-spinner>
</ng-template>