<div class="flex-center" style="padding-top: 12px;">
    <div class="container">
        <h2>This process consist of the following steps</h2>
    <mat-list>
        <mat-list-item>
            <mat-icon>lens</mat-icon><span>Submit the signup form</span>
        </mat-list-item>
        <mat-list-item>
            <mat-icon>lens</mat-icon><span>Submit OTP</span>
        </mat-list-item>
        <mat-list-item>
            <mat-icon>lens</mat-icon><span>Capture Photos of your ID</span>
        </mat-list-item>
        <mat-list-item>
            <mat-icon>lens</mat-icon><span>Take Selfie</span>
        </mat-list-item>
        <mat-list-item>
            <mat-icon>lens</mat-icon><span>Verify and Approve</span>
        </mat-list-item>
    </mat-list>
    <div class="get-started">
        <!-- 'mat-button','mat-raised-button', 'mat-flat-button','mat-stroked-button','mat-icon-button','mat-fab','mat-mini-fab' -->
        <button [routerLink]="['/sign-up']" routerLinkActive="router-link-active"  mat-raised-button color="primary">Get Started</button>
    </div>
    </div>
</div>
<!-- <lib-instnt-angular [formId]="'123'"></lib-instnt-angular> -->