
.page-content {
    max-width: 780px;
    margin: auto;
    margin-top: 10px;
    h2 {
        margin-left: 6px;
    }
}

.steps {
    margin-top: 8px;
}

.error-box {
    width: 50%;
    margin: auto;
    margin-top: 4px;
}
