<div class="flex-center">
    <mat-card>
        <mat-card-title>Upload Document and Selfie</mat-card-title>
        <mat-card-subtitle>Please take a photo of your driver's licence</mat-card-subtitle>
        <mat-card-content *ngIf="!isLoading; else loading">
            <div>
                <p>1) Please take a picture of the front of your driver's license:</p>
            </div>
            <div class="img-preview">
                <div style="text-align: end;">
                    <button mat-raised-button color="primary" (click)="startCamera('Front')">Retake Image</button>
                </div>
                <img width="350px" src="{{ frontImgUrl }}" alt="">
                <!-- <img width="350px" src="https://thispersondoesnotexist.com/image" alt=""> -->
            </div>
            <div *ngIf="captureTarget">
                <instnt-image-processor [documentType]="'License'" [documentSide]="'Front'"></instnt-image-processor>
            </div>
            <div class="flex-center">
                <button mat-raised-button color="primary" (click)="startCamera('Front')">Start Camera</button>
            </div>
        </mat-card-content>
        <hr style="margin-top: 30px;">
        <div class="buttons">
            <button [routerLink]="['/sign-up']" routerLinkActive="router-link-active" mat-raised-button
                color="primary">Back</button>
            <span style="margin-top: 8px;">3/4</span>
            <button [routerLink]="['/otp-verify']" routerLinkActive="router-link-active" mat-raised-button
                color="primary">Next Step</button>
        </div>
    </mat-card>
</div>
<ng-template #loading>
    <div class="loading">
        <div class="flex-center">
            <mat-spinner color="accent" diameter="50"></mat-spinner>
        </div>
        <div style="text-align: center;">
            {{loadingMessage}}
        </div>
    </div>
</ng-template>