<div *ngIf="captureTarget === 'Front' || captureTarget === 'Back'">
    <instnt-document-processor [documentType]="'License'" [documentSide]="captureTarget">
    </instnt-document-processor>
</div>
<div *ngIf="captureTarget === 'Selfie'">
    <instnt-selfie-processor></instnt-selfie-processor>
</div>
<div class="page-content">
    <h2>Upload Document Images and Selfie</h2>
    <mat-accordion>
        <!-- Front Panel -->
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <span><b>Front Image</b></span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Please take a picture of the front of your driver's license:</p>
            <div class="img-preview">
                <div class="flex-center">
                    <img width="340px" src="{{ frontImgUrl }}" alt="">
                </div>
            </div>
            <mat-action-row>
                <div *ngIf="!frontImgUrl">
                    <button mat-raised-button color="primary" (click)="startCamera('Front')">Start Camera</button>
                </div>
                <div *ngIf="frontImgUrl">
                    <button mat-raised-button color="primary" (click)="startCamera('Front')">Retake Image</button>
                </div>
            </mat-action-row>
        </mat-expansion-panel>
        <!-- Back Panel -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <span><b>Back Image</b></span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Please take a picture of the back of your driver's license:</p>
            <div class="img-preview">
                <img width="350px" src="{{ backImgUrl }}" alt="">
            </div>
            <mat-action-row>
                <div *ngIf="!backImgUrl" class="flex-center">
                    <button mat-raised-button color="primary" (click)="startCamera('Back')">Start Camera</button>
                </div>
                <div *ngIf="backImgUrl" style="text-align: end;">
                    <button mat-raised-button color="primary" (click)="startCamera('Back')">Retake Image</button>
                </div>
            </mat-action-row>
        </mat-expansion-panel>
        <!-- Selfie Panel -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <span><b>Selfie Image</b></span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Please take a picture of yourself</p>
            <div class="img-preview">
                <img width="350px" src="{{ selfieImgUrl }}" alt="">
            </div>
            <mat-action-row>
                <div *ngIf="!selfieImgUrl" class="flex-center">
                    <button mat-raised-button color="primary" (click)="startCamera('Selfie')">Start Camera</button>
                </div>
                <div *ngIf="selfieImgUrl" style="text-align: end;">
                    <button mat-raised-button color="primary" (click)="startCamera('')">Retake Image</button>
                </div>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-card>
        <div class="flex-between">
            <button [routerLink]="['/sign-up']" routerLinkActive="router-link-active" mat-raised-button
                color="primary">Back</button>
            <span *ngIf="instnt?.otpVerification" style="margin-top: 8px;">3/4</span>
            <span *ngIf="!instnt?.otpVerification" style="margin-top: 8px;">2/3</span>
            <button routerLinkActive="router-link-active" mat-raised-button color="primary"
                [disabled]="!(frontImgUrl && backImgUrl && selfieImgUrl)" (click)="onGoToNextStep()">Next Step</button>
        </div>
    </mat-card>
</div>
<ng-template #loading>
    <div class="loading">
        <div class="flex-center">
            <mat-spinner color="accent" diameter="50"></mat-spinner>
        </div>
        <div style="text-align: center;">
            {{loadingMessage}}
        </div>
    </div>
</ng-template>